/* .main_category{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
} */

.category_button {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #CAC3C1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.5s;
    cursor: pointer;
    overflow-y: hidden;
    box-sizing: border-box;
}

.category_button:hover {
    transform: scale(1.05);
    background-color: #E7D5D2;
    transition: 0.5s;
    overflow-y: hidden;
}

.main_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.category_button_add {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #CAC3C1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    transition: 0.5s;
    cursor: pointer;
}

.category_button_add:hover {
    background-color: #CAC3C1;
    color: white;
    transition: 0.5s;
}