.main_category{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.category_button{
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #CAC3C1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    transition: 0.5s;
}

.category_button:hover{
    transform: scale(1.05);
    background-color: #E7D5D2;
    transition: 0.5s;
}

.main_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
