.basket_icon{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    margin: 1rem;
    text-align: center;
    cursor: pointer;
}

.badge{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    position: absolute;
    top: 0;
    right: 3px;
    text-align: center;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}