.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    overflow: hidden;
}

.main {
    width: 50%;
    height: 800px;
    /* border: 1px solid; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CAC3C1;
}

.main_image{
    width: 50%;
    padding: 1rem;
    object-fit: cover;
}

.main_image img{
    width: 100%;
    border-radius: 50%;
}